
@{
    ViewBag.Title = "Обращение успешно направлено";
}

<h2>Ваше обращение успешно направлено</h2>
<hr/>
<div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Обратите внимание</strong> <br /> Ваше обращение ближайщее время будет рассмотрено, и будет направлен ответ, по выбранному Вами способа получения ответа.
</div>

